@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

body{
    background: rgb(20, 148, 23);
}
div.container{
    /* background: blue; 6, 215, 35  */
    padding-top: 20px;
    padding-bottom: 20px;
}

div#nav-bar{
    /* background-image:  */
    padding:10px;
     background: rgb(14, 148, 23);
     background: linear-gradient(0deg, rgba(14, 148, 23, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

div#header{
    align-content: center;
    flex: content;
}

div#title{
    background-image: url('../assets/coding.gif');
    background-size: 300px;
    padding: 50px;
    font-size: 35px;
    text-align: center;
    color: aliceblue;
    font-family: monaco,Verdana,sans-serif;
    text-shadow: 1px 2px white;
}

div#footer{
    /* position: fixed;
    bottom:0; */
    width: 100%;
    padding: 10px;
    font-size:20px;
    text-align: center;
    color:white;
    background-image: url('../assets/coding.gif');
    background-size: 300px;
}

a#text-button{
    color:white;
    font-family: 'ZCOOL XiaoWei',
    serif;
}

div#imagen{
    padding-bottom: 10px;
    text-align: center;
}

img{
    width: 150px;
}

i{
    font-size:50px;
    color: orange;
    padding:5px;
}

div#autor{
    font-size:small;
}

p{
    text-align: justify;
    color: white;
    font-size:large;
    font-family: monospace;
}
div#button{
    color: white;
    display: inline-block;
    background: rgb(14, 148, 23);
    background: linear-gradient(0deg, rgba(14, 148, 23, 1) 0%, rgba(249, 228, 9, 0.45840342973126746) 100%);
    border-radius: 15px;
    padding: 10px;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}